.article{
 display: flex;
 flex-flow: wrap column;
 align-items: center; 
 border: 1px solid rgb(1, 1, 37);
 border-radius: 1em;
 margin: 0em .3em 0.3em 0em;
}

.left{
 text-align: left;
 display: flex;
 flex-flow: row wrap;
 margin:0.6em 0.8em 0.2em;
}
.mid{
 
 text-align: justify;
 line-height: 1.5em;
 margin: 0.2em 0.5em;
}
.right{
 display: flex;
 flex-flow: row wrap;
 text-align: center;
 justify-content: center;
 align-items: center;
}
.button{
 margin: 0.5em 0.5em;
}
.tag{
 margin: 0.5em 0.4em 0.2em;
}