.App {
  text-align: center;
  max-width: 720px;
   margin: auto;
}
a:link {
  text-decoration: none;
  color: rgb(13, 3, 100)
}
a:hover {
  color: rgb(240, 112, 26);
  text-decoration: none;
}
.title-link{
  margin-left: 2em;
}