.App {
  text-align: center;
  max-width: 960px;
   margin: auto;
}
a:link {
  text-decoration: none;
  color: rgb(13, 3, 100)
}
a:hover {
  color: rgb(240, 112, 26);
  text-decoration: none;
}
h4{
  color: rgb(52, 9, 95);
  margin: 1em 0.5em 0.6em;
  font-family:  Arial,  sans-serif;
}
h3{
  color: rgb(52, 9, 95);
  margin: 1em 0.5em 0.6em;
  font-family:  Arial,  sans-serif;
}
.title-link{
  margin-left: 2em;
}

.article-item{
  display: flex;
  margin-top: 0.5em;
  text-align: center;
  align-items: center;
}

.user{
  display:grid;
  margin:10px;
  grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
}
p{
  margin: 0.5em 0em;
}